@(title: String)(content: Html)(implicit ctx: PrismicHelper.Context)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script type="application/javascript">
          @** Required for the edit button *@
          window.prismic = {
            endpoint: '@PrismicHelper.endpoint'
          };
        </script>
        @** Required for previews, edit button and experiments *@
        <script src="//static.cdn.prismic.io/prismic.min.js"></script>
    </head>
    <body>

        <header>
          <a href="@routes.Application.index()">
            <h1>Your prismic.io project</h1>
          </a>

        </header>

        @content

        @* Here, your google analytics script *@

        @* Then include this to use prismic.io experiments:
         * @experiment()
         *@

    </body>
</html>
