@(q: Option[String], response: io.prismic.Response)(implicit ctx: PrismicHelper.Context)

@main("Search results") {

  <h1>
    @response.resultsSize match {
      case 0 => { No results found }
      case 1 => { One document found }
      case n => { Showing @n out of @response.totalResultsSize documents }
    }
  </h1>

  <ul>
    @response.results.map { document =>
      <li>
        <a href="@ctx.linkResolver(document)">@document.slug</a>
      </li>
    }
  </ul>

  @if(response.totalPages > 1) {
    <div>
      @if(response.prevPage.isDefined) {
      <a href="@routes.Application.search(q, response.page - 1)">Previous</a>
      } else {
      <span>Previous</span>
      }
      @if(response.nextPage.isDefined) {
      <a href="@routes.Application.search(q, response.page + 1)">Next</a>
      } else {
      <span>Next</span>
      }
    </div>
  }

  <p>
    <a href="@routes.Application.index()">Back to home</a>
  </p>

}
